.landing {
    text-align: center;
    padding-top: $xxl-size;
    padding-bottom: $xxl-size;
    border: green 1px solid;

    &__avatar {
        

        &__img {
            border-radius: 50%;
        }

        &__canvas {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    
}