.nav {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $lg-size;
    padding-right: $lg-size;
    
    &__brand {
        font-size: $md-size;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__icon {
        font-size: $md-size;
    }

    &__toggleButton,
    &__toggleButton:active, {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__navbar {
        display: none;
        list-style: none;
        position: absolute;
        background: white;
        right: 0;
        transform: translateX(100%);
        
        &__item {
            font-size: $sm-size;
            padding-left: 0;
            padding: $sm-size;
            border: 1px solid #999999;
        }
    }
}



@media(min-width: $tablet-size){
    .nav{

        align-items: stretch;

        &__navbar {
            width: 30%;
            align-items: center;
            display: flex !important;
            flex-direction: row !important;
            transform: translateX(0%);
            position: static;
            justify-content: flex-end;
            border: none;
            margin-left: auto;
        
            &__brand {
                margin: $xs-size;
            }

            &__item {
                border: none;
                font-size: $sm-size;
                margin:  0 0 0 $md-size;
                padding: 0;
            }
        }

        &__icon {
            display: none;
        }
    }
}
