.projects {
    padding-top: $md-size;
    padding-bottom: $section-padding;
    text-align: center;
    
    border: 1px black solid;
    &__display {
        padding-top: $section-padding;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
    }
}




