.project {
    max-width: 35rem;
    height: 30rem;
    border: black 1px solid;
    text-align: center;
    padding: $sm-size;
    margin: 0 auto;
    border-radius: 3%;
    &__img {
        border-radius: 3%;
        width: 100%;
        height: 80%;
    }
}