@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');


html {
    font-size: 62.5%;
    overflow-x: hidden;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}


$mobile-size: 425px;
$tablet-size: 768px;
$desktop-size: 1440px;
$xs-size: 1.2rem;
$sm-size: 1.6rem;
$md-size: 2.4rem;
$lg-size: 3.6rem;
$xl-size: 4.8rem;
$xxl-size: 6.0rem;

$main-color: #8ee4af;

$section-padding: 12rem;