.contact {
    text-align: center;
    border: 1px black solid;
    font-size: 1.6rem;

    &__label {
        display: block;
        margin: 1rem auto;
        display:block;
    }
    &__input {
        display: block;
        margin: 1rem auto;
        display:block;
    }
    &__message {
        display: block;
        margin: 1rem auto;
        display:block;
    }
    &__button {
        display: block;
        display: block;
        margin: 1rem auto;
    }
}