.landing {
    text-align: center;
    padding-top: $xxl-size;
    padding-bottom: $xxl-size;
    background: $main-color;

    &__avatar {
        

        &__img {
            border-radius: 50%;
        }

        &__canvas {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

@media(min-width: $tablet-size) {
    .landing {
        padding-top: $section-padding;
        padding-bottom: $section-padding;
    }
}